.add-button-container {
  margin-bottom: 20px;
}

.table-wrap {
  width: 100%;
}

.filter {
  margin: 20px;
  width: 30%;
}

.empty-table {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.chip {
  margin-left: 5px;
  margin-bottom: 5px;
}