@import "../../../assets/mixins.scss";

.form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  @include responsive(tablet) {
    width: 100%;
  }
}

.form-field {
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.mark {
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: yellow;
  }
}